.hover-shift {
  transition: transform 0.2s ease;
}

.hover-shift:hover {
  transform: translateX(5px);
}

.album-cover:hover {
    transform: scale(1.03);
}

.album-cover {
    transition: transform 0.3s ease;
}